@charset "UTF-8";
/****************************************/
/*	PART: IMPORT CSS
/****************************************/
/**************************/
/*** Primitive Variables ***/
/**************************/
/* Color */
/* typography */
/* box */
/**************************/
/*** Semantic Variables ***/
/**************************/
/* Color */
/* Typography */
body, th, td, input, select, textarea, button, input[type=checkbox]:checked {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
}

/* Radius */
/** FONT **/
/* clamp 기반 font-size
// 최소 크기 $min, 기본 크기 $preferred, 최대 크기 $max 사이에서 뷰포트에 따라 자동으로 크기가 반응형으로 조정
@mixin font-clamp($min: 0.9rem, $preferred: 1.6rem, $max: 4rem) {
  font-size: clamp($min, $preferred + 1vw, $max);
}
// 사용예시
.txt-desc {@include font-clamp(1.2rem, 1.6rem, 3.2rem);}
.txt-small {@include font-clamp(0.9rem, 1.2rem, 1.6rem);}
.txt-default {@include font-clamp(최소값, 선호값, 최대값);} // 최소값은 $min, 최대값은 $max를 벗어날수 없음
 */
/* */
/****************************************/
/*	PART: RESET CSS
/****************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
} /* rem default 10px */
body {
  width: 100%;
  overflow-x: hidden;
  /* 뷰표트 변환시 폰트크기 자동확대 방지. */
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, fieldset,
legend, p, th, td {
  word-break: keep-all;
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

address, caption, cite, code, dfn, em, var, i, b {
  font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
} /* 포커스 라인 비활성처리*/
table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
select {
  background-color: transparent;
}

input[type=checkbox]:checked {
  -webkit-appearance: checkbox;
  color: #212529;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=password], input[type=submit], input[type=date],
input[type=search], input[type=tel], input[type=email] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
} /* IE9 이상 select 화살표 삭제 */
input[type=text]:read-only, input[type=password]:read-only,
input[type=text]:disabled, input[type=password]:disabled {
  background: dnd("colors", "primitive", "neutral", 100);
}

strong, b {
  font-weight: 600;
}

a {
  display: inline-block;
  color: #212529;
  text-decoration: none; /*outline:transparent;*/
}

a:active, a:hover {
  text-decoration: none;
}

legend, caption {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

hr {
  display: none;
  visibility: hidden;
}
hr.divider {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  height: 1.6rem;
}
hr.divider.xxl {
  height: 4.8rem;
}
hr.divider.xl {
  height: 4rem;
}
hr.divider.lg {
  height: 3.2rem;
}
hr.divider.m {
  height: 2.4rem;
}
hr.divider.s {
  height: 1.2rem;
}
hr.divider.xs {
  height: 0.8rem;
}
hr.divider.m-xs {
  height: 0;
  margin-top: -0.8rem;
}
hr.divider + [class*=field], hr.divider + [class*=Wrap], hr.divider + * {
  margin-top: 0;
}

.side-gap {
  padding: 0 0.8rem;
}

.space {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

*:focus, *:focus-visible {
  outline: none;
}

/****************************************/
/*	PART: BASIC CSS
/****************************************/
.hide {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.blind {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  display: block !important;
  font-size: 1px !important;
  z-index: -1;
}

.screen {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  font-size: 1px;
  text-indent: -9999px;
}

.full {
  width: 100% !important;
}

/****************************************/
/*	PART: work sheet PAGE STYLE
/****************************************/
/* flag */
:root {
  --space-4xs: .4rem;
  --space-3xs: .8rem;
  --space-2xs: 1rem;
  --space-xs: 1.1rem;
  --space-sm: 1.2rem;
  --space-ms: 1.4rem;
  --space-md: 1.6rem;
  --space-mx: 1.8rem;
  --space-lg: 2.0rem;
  --space-xl: 2.4rem;
  --space-2xl: 3.2rem;
  --space-3xl: 4.0rem;
  --space-4xl: 4.8rem;
}

#pbWrap * {
  font-family: "Pretendard", "Malgun Gothic", "Dotum", Arial, sans-serif, "Malgun Gothic", "Dotum", Arial, sans-serif;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/****************************************/
/*	PART: GUIDE PAGE STYLE
/****************************************/
/* container */
.skipNav {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.skipNav a {
  display: block;
  font-size: 1;
  height: 1px;
  width: 0px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.skipNav a:focus, .skipNav a:hover, .skipNav a:active {
  width: auto;
  height: 2.8rem;
  margin: 0;
  padding: 0.8rem 0;
  background: #000;
  line-height: 1.2rem;
  color: #fff;
  z-index: 15;
  box-sizing: border-box;
}

#pg-wrap {
  margin: 0;
}
#pg-headerWrap {
  background: linear-gradient(180deg, #191B2A, #302CA4);
  width: 100%;
  padding: 2rem 1rem 0;
}

.wg-hgroup {
  padding: 2.5rem 2rem 2rem;
}
.wg-hgroup .wgTit01 {
  font-size: var(--space-mx);
}
.wg-hgroup .wgTit01::before {
  content: "";
  display: inline-block;
  content: "\f550";
  font-family: "iconFont";
  color: #302CA4;
  font-size: var(--space-ms);
  margin-right: 0.5rem;
  vertical-align: middle;
}
.wg-fxWrap {
  display: flex;
  flex-direction: row;
}
.wg-fxWrap ~ .wg-fxWrap {
  margin-top: 4rem;
}
.wg-rowWrap > .wg-fx {
  flex: 1;
  max-width: 50%;
  justify-content: space-between;
}
.wg-rowWrap > .wg-colWrap {
  max-width: 50%;
}
.wg-colWrap {
  flex-direction: column;
}
.wg-colWrap-fx ~ .wg-fx {
  margin-top: 4rem;
}
.wg-contBoxWrap {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
}
.wg-contBody {
  width: 100%;
  background: #fff;
  color: #515961;
  border: 1px solid #fff;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
}
.wg-contBody > dt {
  padding: 2rem;
  font-size: 1.5rem;
}
.wg-contBody > dt + dd {
  border-top: 1px solid #ebedf2;
}
.wg-contBody > dd {
  padding: 2rem;
}
.wg-contBody > dd + dd {
  padding-top: 0;
}
.wg-TxtTit {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: #E8E9FB;
  color: #4d5cf2;
  border-radius: 0.5rem;
}
.wg-lstBody {
  padding: 0.5rem;
}
.wg-example {
  margin-top: 1rem;
}
.wg-example + .wg-TxtTit {
  margin-top: 2rem;
}
.wg-lst-bar > li, .wg-lst-bar .wg-ico {
  text-indent: -0.5rem;
  margin-left: 0.5rem;
}
.wg-lst-bar > li::before {
  content: "";
  display: block;
  display: inline-block;
  content: "-";
  margin-right: 0.5rem;
}
.wg-lst-bar > li ~ li {
  margin-top: 0.5rem;
}
.wg-ico::before {
  content: "";
  display: inline-block;
  font-family: "iconFont";
  content: "-";
  margin-right: 0.5rem;
}
.wg-ico.wg-ico-bar::before {
  content: "";
  display: inline-block;
  content: "-";
}
.wg-ico.wg-ico-info::before {
  content: "";
  display: inline-block;
  content: "\f22d";
  color: #FD397A;
}
.wg-ico.wg-ico-star::before {
  content: "";
  display: inline-block;
  content: "*";
  color: #BE4BDB;
}
.wg-splitWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wg-splitWrap.col2 > li {
  display: inline-block;
  flex-direction: column;
  width: 48%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > li:nth-child(even) {
  margin-left: 1%;
}
.wg-splitWrap.col2 > li.wg-split-none {
  flex-direction: row;
  display: block;
  width: 100%;
  margin: 0;
}
.wg-splitWrap.col2.wg-lst-bar > li ~ li {
  margin-top: 0;
}
.wg-splitWrap.col2 > .colSec {
  display: inline-block;
  flex-direction: column;
  width: 49%;
  padding: 0 0.5rem 0.5rem;
}
.wg-splitWrap.col2 > .colSec:nth-child(even) {
  margin-left: 2%;
}
.wg-splitWrap.col2 > .colSec.col-full {
  width: 100%;
}
.wg-splitWrap .col-full {
  float: none;
  clear: both;
}

.wg-lst-bar > li > *, .wg-ico > * {
  text-indent: 0;
}

.component-nav {
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.component-nav .nav-lst {
  display: flex;
}
.component-nav .nav-lst > li > a {
  display: block;
  padding: 1rem;
  text-align: center;
  transition: 0.5s color ease;
}
.component-nav .nav-lst > li > a::after {
  content: "";
  display: block;
  width: 0;
}
.component-nav .nav-lst > li > a:hover {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #268E6C;
}
.component-nav .nav-lst > li > a:hover::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #268E6C;
}
.component-nav .nav-lst > li > a.is-active {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #E34850;
}
.component-nav .nav-lst > li > a.is-active::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  width: 100%;
  bottom: 0;
  height: 0.35rem;
  width: 100%;
  background: #E34850;
}

.pg-contentWrap, .pg-template {
  padding: 2rem;
}
.pg-contentWrap .btn, .pg-template .btn {
  background: transparent;
}
.pg-contentWrap .btn.txt, .pg-template .btn.txt {
  padding: 0;
  position: relative;
  transition: 0.5s color ease;
  display: inline-block;
}
.pg-contentWrap .btn.txt ~ .pg-contentWrap .btn.txt, .pg-contentWrap .btn.txt ~ .pg-template .btn.txt, .pg-template .btn.txt ~ .pg-contentWrap .btn.txt, .pg-template .btn.txt ~ .pg-template .btn.txt {
  margin-top: 0;
}
.pg-contentWrap .btn.txt::after, .pg-template .btn.txt::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  width: 0;
}
.pg-contentWrap .btn.txt:hover, .pg-template .btn.txt:hover {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #268E6C;
}
.pg-contentWrap .btn.txt:hover::after, .pg-template .btn.txt:hover::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  height: 0.7rem;
  width: 100%;
  background: #268E6C;
  opacity: 0.7;
  z-index: -1;
}
.pg-contentWrap .btn.uline, .pg-template .btn.uline {
  padding: 0 0.2rem 0;
  /*
  @include el-content(after){
      margin:0;
      width:100%; height:.1rem;
      background:$color-neutral-800;
      position:absolute; left:0; bottom:0;
  }
  */
}
.pg-contentWrap .btn.uline::before, .pg-template .btn.uline::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.1rem;
  background: #E0E3E8;
  transition: 0.5s all ease;
}
.pg-contentWrap .btn.uline:hover, .pg-contentWrap .btn.uline:focus, .pg-template .btn.uline:hover, .pg-template .btn.uline:focus {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #515961;
}
.pg-contentWrap .btn.uline:hover::before, .pg-contentWrap .btn.uline:focus::before, .pg-template .btn.uline:hover::before, .pg-template .btn.uline:focus::before {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all ease;
  width: 0;
  opacity: 0;
}
.pg-contentWrap .btn.uline::after, .pg-template .btn.uline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
}
.pg-contentWrap .btn.uline:hover, .pg-contentWrap .btn.uline:focus, .pg-template .btn.uline:hover, .pg-template .btn.uline:focus {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #515961;
}
.pg-contentWrap .btn.uline:hover::after, .pg-contentWrap .btn.uline:focus::after, .pg-template .btn.uline:hover::after, .pg-template .btn.uline:focus::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  background: #E34850;
  width: 100%;
  height: 0.2rem;
  z-index: 1;
}

.pg-template .pg-tit.h1 {
  border-top: 0.3rem dashed #A9B0B8;
  padding: 1.5rem 0 2.5rem;
}

.component-lst, .template-lst {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.component-lst > li, .template-lst > li {
  margin-bottom: 4rem;
}
.component-wrap, .template-wrap {
  min-width: 375px;
}
.component-wrap ~ .component-wrap, .component-wrap ~ .template-wrap, .template-wrap ~ .component-wrap, .template-wrap ~ .template-wrap {
  margin-left: 2rem;
}
.component-wrap > iframe, .template-wrap > iframe {
  width: 100%;
  height: 64rem;
  border: 0.2rem #6E7780 solid;
}
.component-item, .template-item {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.component-item > *, .template-item > * {
  padding: 1.5rem 1rem;
  border-top: 1px #515961 solid;
}
.component-item > dt, .template-item > dt {
  flex: 0 0 20%;
}
.component-item > dt:first-child, .template-item > dt:first-child {
  border: 0;
}
.component-item > dt:first-child + dd, .template-item > dt:first-child + dd {
  border: 0;
}
.component-item > dd, .template-item > dd {
  flex: 0 0 80%;
}

.ico-gopage::before {
  content: "";
  display: block;
  display: inline-block;
  vertical-align: middle;
  content: "\f2d2";
  font-family: "iconFont";
  font-weight: 900;
}
.ico-viewsource::before {
  content: "";
  display: block;
  display: inline-block;
  vertical-align: middle;
  content: "\f06e";
  font-family: "iconFont";
  font-weight: 900;
}
.ico-pop-close {
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E") no-repeat 50% 50%;
}
.ico-pop.af::after {
  content: "";
  display: block;
  display: inline-block;
  vertical-align: middle;
  content: "\f08e";
  font-family: "iconFont";
  font-weight: 900;
  margin-left: 0.5rem;
}

.tblWrap {
  margin: 1.5rem 0 0.5rem;
}
.tblWrap .tbl {
  width: 100%;
}
.tblWrap .tbl th, .tblWrap .tbl td {
  padding: 1rem;
  border-top: 1px #515961 solid;
}
.tblWrap .tbl th {
  background: #ECEFF4;
}
.tblWrap .tbl td {
  background: #C0C6CC;
}
.tblWrap .tbl tr:first-child > th, .tblWrap .tbl tr:first-child > td {
  border-top: 0;
}

.hr.divice {
  display: block;
  visibility: visible;
  background: #8C959F;
  border: none;
  height: 1px;
}

/* TABLE */
.cp-tbl {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}
.cp-tbl .tblWrap > p:first-child {
  margin-top: 0;
}
.cp-tbl .tblWrap p {
  margin: 4rem 0 1rem;
}
.cp-tbl .tblWrap table {
  width: 100%;
}
.cp-tbl .tblWrap table + table {
  margin-top: 2rem;
}
.cp-tbl .tblWrap table th, .cp-tbl .tblWrap table td {
  padding: 1rem;
  border: 0.1rem #A9B0B8 solid;
}
.cp-tbl .tblWrap table th {
  border-color: #6E7780;
}
.cp-tbl .tblWrap table thead th {
  background: #347EFF;
}
.cp-tbl .tblWrap table thead + tbody > tr:first-child th, .cp-tbl .tblWrap table thead + tbody > tr:first-child td {
  border-top: none;
}
.cp-tbl .tblWrap table tbody th {
  background: #A9B0B8;
}
.cp-tbl .tblWrap caption {
  position: relative !important;
  padding: 1.5rem 1rem 0.5rem !important;
  background-color: #A9B0B8;
  font-size: var(--space-xs) !important;
  border: 1px #8C959F solid !important;
}
.cp-tbl .tblWrap caption::before {
  content: "";
  display: inline-block !important;
  background-color: #8C959F;
  content: "Table Caption" !important;
  position: absolute;
  top: -0.5rem !important;
  left: -0.5rem !important;
  padding: 0.3rem 1rem;
}
.cp-tbl .tblWrap caption > p {
  margin: 0 !important;
}
.cp-tbl .tblWrap legend, .cp-tbl .tblWrap caption {
  overflow: visible !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  line-height: inherit !important;
  clip: auto;
}
.cp-tbl .desc {
  display: none;
  width: 50rem;
  background: #c5e7ad;
  padding: 15px;
  margin-right: 5rem;
  border: 0.1rem #076d18 solid;
}
.cp-tbl .desc p::before {
  content: "";
  display: block;
  display: inline-block;
  width: 0.2rem;
  height: 1rem;
  background-color: #e26d00;
  margin-right: 5px;
}
.cp-tbl .desc p ~ p, .cp-tbl .desc p ~ ul {
  margin-top: 10px;
}
.cp-tbl ul p::before {
  content: "";
  display: none;
}
.cp-tbl b {
  color: #C9252D;
}
.cp-tbl strong {
  color: #268E6C;
  font-weight: bold;
}
.cp-tbl strong + div, .cp-tbl strong + ul {
  margin-top: 1rem;
}
.cp-tbl .bul > li {
  position: relative;
  margin: 0.2rem 0 0;
  padding: 0 0 0.4rem 1.3rem;
  color: #000;
}
.cp-tbl .bul > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
  background-color: #2666F5;
}
.cp-tbl .case {
  counter-reset: number 0;
}
.cp-tbl .case > li {
  padding: 10px 0;
  border-top: #076d18 solid;
}
.cp-tbl .case > li::before {
  content: "";
  display: inline-block;
  content: "CASE" counter(number);
  counter-increment: number;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  background-color: #268E6C;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  vertical-align: top;
}/*# sourceMappingURL=cm.guide.css.map */