<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>아이콘, 이미지</title>

    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>

<body pb-component>
    <div class="pbgWrap">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>ICONS</h1>
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>사이즈별 아이콘</h2>
                </div>

                <article class="pbg-component" temp-cp-gap>
                    <div class="pbg-titWrap dep3">
                        <h3>SIZE : etc</h3>
                    </div>
                    <div class="iconWrap">
                        <i class="ico item-check" aria-hidden="true"></i>
                        <!-- <p class="ico bul ico-star">star 블릿아이콘</p> -->
                    </div>
                    <hr class="divider m" />
                    <div class="pbg-titWrap dep3">
                        <h3>SIZE : 20px</h3>
                    </div>
                    <div class="iconWrap">
                        <i class="ico ico-20 ico-add-file" aria-hidden="true"></i>
                    </div>
                    <hr class="divider m" />
                    <div class="pbg-titWrap dep3">
                        <h3>SIZE : 24px</h3>
                    </div>
                    <div class="iconWrap">
                        <i class="ico ico-24 ico-arrow-right" aria-hidden="true"></i>
                        <i class="ico ico-24 ico-pop-close" aria-hidden="true"></i>
                        <i class="ico ico-24 ico-add-field" aria-hidden="true"></i>
                        <i class="ico ico-24 ico-del-field" aria-hidden="true"></i>
                        <i class="ico ico-24 ico-clear" aria-hidden="true"></i>
                        <i class="ico ico-24 ico-clip" aria-hidden="true"></i>
                        
                    </div>
                    <hr class="divider m" />
                    <div class="pbg-titWrap dep3">
                        <h3>SIZE : 32px</h3>
                    </div>
                    <div class="iconWrap">
                        <i class="ico ico-32 ico-bell" aria-hidden="true"></i>
                        <i class="ico ico-32 ico-menu" aria-hidden="true"></i>
                    </div>
                </article>
            </section>
        </div>
    </div>

</body>
<script src="../../assets/js/ui.component.js"></script>

</html>