<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>팝업/알럿/토스트</title>

    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>

<body pb-component>
    <div class="pbgWrap">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>POPUP</h1>
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>팝업</h2>
                </div>

                <div class="btnWrap">
                    <a href="javascript:void(0);" class="btn tertiary size-lg _modalBtn" data-modal="modal2">Center
                        Modal</a>
                    <a href="javascript:void(0);" class="btn tertiary 
                    size-lg _modalBtn" data-modal="modal3">Right Modal</a>
                    <a href="javascript:void(0);" class="btn tertiary 
                    size-lg _modalBtn" data-modal="modal4">Bottom Modal</a>
                    <a href="javascript:void(0);" class="btn tertiary size-lg _modalBtn"
                        data-modal="networkError">알럿</a>
                </div>

                <!-- Center Modal -->
                <div class="modalPop _center" modal-target="modal2">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <!-- <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a> -->
                            <h1 class="mp-title dep01">
                                <div class="tooltipWrap" tip-pos="fixed">
                                    Center Modal
                                    <a href="javascript:;" class="ico ico-tooltip" aria-role="button" data-focus="false"
                                        data-direction="left" tip-maxWidth="160"
                                        data-message="ToolTip Default :<br><br> 일이삼사오육칠팔구십일이삼사오<br>ToolTip message"
                                        data-toggle="tooltip">
                                        <span class="hide">툴팁</span>
                                    </a>
                                </div>
                            </h1>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span
                                    class="hide">창닫기</span></a>
                        </div>
                        <div class="modal-container">
                            <div style="background-color: rgb(0, 255, 179); height:1000px;">Center Modal Content
                                <div class="tooltipWrap">Center Modal ContentCenter
                                    <a href="javascript:;" class="ico ico-tooltip" aria-role="button" data-focus="false"
                                        data-direction="bottom"
                                        data-message="ToolTip message : Default <br> ToolTip message <br> ToolTip message"
                                        data-toggle="tooltip">
                                        <span class="hide">툴팁</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btnWrap grow full">
                                <button type="button" class="btn secondary size-lg btn-close-pop">취소</button>
                                <button type="button" class="btn primary size-lg btn-close-pop">확인</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modalWrap">
                        <div class="modal-header">
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span
                                    class="hide">창닫기</span></a>
                            <h1 class="mp-title dep01">Center Modal</h1>
                        </div>
                        <div class="modal-container">
                            <p>Center Modal Content</p>
                        </div>
                        <div class="modal-footer">
                            <div class="btnWrap grow full">
                                <button type="button" class="btn secondary size-lg btn-close-pop">취소</button>
                                <button type="button" class="btn primary size-lg btn-close-pop">확인</button>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!-- Right Modal -->
                <div class="modalPop _right" modal-target="modal3">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <a href="#" class="ico ico-his-prev" role="button"><span class="hide">이전페이지</span></a>
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span
                                    class="hide">창닫기</span></a>
                            <h1 class="mp-title dep01">Right Modal</h1>
                        </div>
                        <div class="modal-container">
                            <p>Right Modal Content</p>
                        </div>
                        <div class="modal-footer">
                            <div class="btnWrap grow full">
                                <button type="button" class="btn secondary size-lg btn-close-pop">취소</button>
                                <button type="button" class="btn primary size-lg btn-close-pop">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom Modal -->
                <div class="modalPop _bottom" modal-target="modal4">
                    <div class="modalWrap">
                        <div class="modal-header">
                            <a href="#" class="btn-close-pop ico ico-pop-close" role="button"><span
                                    class="hide">창닫기</span></a>
                            <h1 class="mp-title dep01">Bottom Modal</h1>
                        </div>
                        <div class="modal-container">
                            <div style="height:1000px; background:yellow">
                                <p>Bottom Modal Content</p>
                                <button class="btn tertiary size-lg _modalBtn" data-modal="networkError">networkError</button>
                                <!-- <a href="javascript:void(0);" onclick="COMPONENT_UI.modalPop.showModal($('[data-modal=networkError]'));" class="btn tertiary size-lg _modalBtn">알럿</a> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btnWrap grow full">
                                <button type="button" class="btn secondary size-lg btn-close-pop">취소</button>
                                <button type="button" class="btn primary size-lg btn-close-pop">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [S] AlertPop : 네트워크 오류 -->
                <div class="modalPop _alert _center" modal-target="networkError">
                    <div class="modalWrap">
                        <!-- <div class="modal-header">
                            <a href="javascript:void(0);" class="btn-close-pop ico ico-close" role="button"><span class="hide">창닫기</span></a>                        
                            <h1 class="mp-title">AlertPopTitle</h1>
                        </div> -->
                        <div class="modal-container">
                            <p class="alert-msg">
                                현재 네트워크가 불안정하여<br>
                                접속이 원할하지 않습니다
                            </p>
                            <p class="alert-msg sub">
                                이용에 불편을 드려 죄송합니다<br>
                                잠시 후 다시 시도해 주세요
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="btnWrap grow">
                                <!-- <button type="button" class="btn secondary size-lg btn-close-pop">취소</button> -->
                                <button type="button" class="btn primary size-lg btn-close-pop">확인</button>
                                <!-- 창닫기 .btn-close-pop 클래스 적용 -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>
<script src="../../assets/js/ui.component.js"></script>
<script>
    // 팝업 강제호출
    // const callBtn = $('<div data-modal="networkError"></div>');
    // COMPONENT_UI.modalPop.showModal(callBtn);
    // COMPONENT_UI.modalPop.showModal($('[data-modal="networkError"]'));


    // 토스트팝업 호출
    // COMPONENT_UI.toast.toastPop();
    // 특정 위치 클릭시
    $('._toastBtn').on('click', function () {
        COMPONENT_UI.toast.returnToast('._toastBtn'); // 여기서 body를 포커스 대상을 지정
    });


</script>

</html>