<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>폼요소 : Radio / Checkbox</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->     
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>
<body pb-component>
    <div class="pbgWrap">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>라디오/체크박스</h1>
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>Checkbox</h2>
                </div>

                <article class="pbg-component">
                    <div class="pbg-titWrap dep3">
                        <h3>checkbox + label</h3>
                    </div>

                    <div class="field">        
                        <label for="chk1-1" class="field-chkrdo">
                            <input type="checkbox" name="chkGroup" id="chk1-1" class="chk">
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">체크-기본</span>
                        </label>
                        <label for="chk1-2" class="field-chkrdo">
                            <input type="checkbox" name="chkGroup" id="chk1-2" class="chk" checked>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">체크-checked</span>
                        </label>
                        <label for="chk1-3" class="field-chkrdo">
                            <input type="checkbox" name="chkGroup" id="chk1-3" class="chk" disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">체크-disabled</span>
                        </label>
                        <label for="chk1-4" class="field-chkrdo">
                            <input type="checkbox" name="chkGroup" id="chk1-4" class="chk"checked disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">체크-checked+disabled</span>
                        </label>
                        <label for="chk1-5" class="field-chkrdo">
                            <input type="checkbox" name="chkGroup" id="chk1-5" class="chk" readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">체크-readonly</span>
                        </label>
                    </div>
                </article>

                <article class="pbg-component">
                    <div class="pbg-titWrap dep3">
                        <h3>BOX</h3>
                    </div>
                    <div class="field box-opt full ico">
                        <label for="chk-fullicob1" class="field-chkrdo">
                            <input type="checkbox" name="fullicobox" id="chk-fullicob1" class="chk">
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">1. 복수선택 - 기본</span>
                        </label>
                        <label for="chk-fullicob2" class="field-chkrdo">
                            <input type="checkbox" name="fullicobox" id="chk-fullicob2" class="chk" checked>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">2. 복수선택 - checked</span>
                        </label>
                        
                        <label for="chk-fullicob3" class="field-chkrdo">
                            <input type="checkbox" name="fullicobox" id="chk-fullicob3" class="chk" title="box-disabled" disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">boxchecked</span>
                        </label>
                        <label for="chk-fullicob4" class="field-chkrdo">
                            <input type="checkbox" name="fullicobox" id="chk-fullicob4" class="chk" checked disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">boxchecked+disabled</span>
                        </label>
                        <label for="chk-fullicob5" class="field-chkrdo">
                            <input type="checkbox" name="fullicobox" id="chk-fullicob5" class="chk" readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">boxreadonly</span>
                        </label>
                    </div>
                    <hr class="divider m" />
                    
                    <div class="field box-opt full bar-fill">
                        <label for="chk-fill1" class="field-chkrdo">
                            <input type="checkbox" name="chkRdofill" id="chk-fill1" class="chk" readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">
                                1. 설문응답 - 복수선택
                                <span>15명</span>
                                <i class="fill-width" style="width:40%" aria-hidden="hidden"></i>
                            </span>
                        </label>
                        <label for="chk-fill2" class="field-chkrdo">
                            <input type="checkbox" name="chkRdofill" id="chk-fill2" class="chk" checked readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">
                                2. 설문응답 - 복수선택
                                <span>15명</span>
                                <i class="fill-width" style="width:100%" aria-hidden="hidden"></i>
                            </span>
                        </label>
                    </div>
                </article>
                
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>Radio</h2>
                </div>
                <article class="pbg-component">
                    <div class="pbg-titWrap dep3">
                        <h3>BOX</h3>
                    </div>

                    <div class="field box-opt full ico">        
                        <label for="rdo-fullicob1" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo" id="rdo-fullicob1" class="rdo">
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box 기본</span>
                        </label>
                        <label for="rdo-fullicob2" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo" id="rdo-fullicob2" class="rdo" checked>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box checked</span>
                        </label>
                        <label for="rdo-fullicob3" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo-3" id="rdo-fullicob3" class="rdo" title="box-disabled" disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box disabled</span>
                        </label>
                        <label for="rdo-fullicob4" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo-4" id="rdo-fullicob4" class="rdo" checked disabled>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box checked+disabled</span>
                        </label>
                        <label for="rdo-fullicob5" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo-5" id="rdo-fullicob5" class="rdo" readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box readonly</span>
                        </label>
                        <label for="rdo-fullicob6" class="field-chkrdo">
                            <input type="radio" name="fullicobBoxRdo-6" id="rdo-fullicob6" class="rdo" checked readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">box checked+readonly</span>
                        </label>
                    </div>
                    <hr class="divider m" />

                    <div class="field box-opt full bar-fill">
                        <label for="rdo-fill1" class="field-chkrdo">
                            <input type="radio" name="Rdofill" id="rdo-fill1" class="rdo" readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">
                                1. 설문응답 - 복수선택
                                <span>15명</span>
                                <i class="fill-width" style="width:80%" aria-hidden="hidden"></i>
                            </span>
                        </label>
                        <label for="rdo-fill2" class="field-chkrdo">
                            <input type="checkbox" name="Rdofill" id="rdo-fill2" class="rdo" checked readonly>
                            <i class="field-icon" aria-hidden="hidden"></i>
                            <span class="field-label">
                                2. 설문응답 - 복수선택
                                <span>15명</span>
                                <i class="fill-width" style="width:50%" aria-hidden="hidden"></i>
                            </span>
                        </label>
                    </div>
                </article>

            </section>            
        </div>
    </div>
    
</body>
<script src="../../assets/js/ui.component.js"></script>
</html>