<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
	<meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>아코디언</title>

    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>

<body pb-component>
    <div class="pbgWrap">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>아코디언</h1>
                <!-- 아코디언 전체 감싸는 클래스 accordion-wrap
				기본형: 제목이 버튼으로 토글
				버튼형: 버튼으로만 토글
				스크롤탑: data-scroll="top"
				하나만 열림: data-type="oneToggle"
				체크박스 동의하면 닫힘: data-type="toggleChk"
				토글 안에 토글: data-type="double"
				-->
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 기본형</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 01 - 제목으로 토글 -->
                    <div class="accordion-wrap">
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
                                </a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
                                </a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
                                </a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
                                </a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                    </div>
                    <!-- [E] 아코디언 01 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 스크롤탑</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 02 - 스크롤탑 -->
					<div class="accordion-wrap" data-scroll="top">
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 02 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 하나만 열림, 버튼 style 02</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 03 - 하나만 열림, 버튼 style 02 -->
					<div class="accordion-wrap" data-type="oneToggle">
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-style-02" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-style-02" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-style-02" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-style-02" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 03 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 버튼만 토글 가능, 버튼 active color 변경</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 04 - 버튼만 토글 가능 -->
                    <div class="accordion-wrap">
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <span class="toggle-tit">아코디언 제목입니다</span>
                                <a href="javascript:void(0);" class="btn-toggle btn-act-orange" aria-expanded="false" aria-label="열기"></a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <span class="toggle-tit">아코디언 제목입니다</span>
                                <a href="javascript:void(0);" class="btn-toggle" aria-expanded="false" aria-label="열기"></a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                        <dl class="accordion">
                            <dt class="accordion-header">
                                <span class="toggle-tit">아코디언 제목입니다</span>
                                <a href="javascript:void(0);" class="btn-toggle" aria-expanded="false" aria-label="열기"></a>
                            </dt>
                            <dd class="accordion-contents">
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                                <p>아코디언 내용입니다</p>
                            </dd>
                        </dl>
                    </div>
                    <!-- [E] 아코디언 04 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 제목 유형</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 05 - 제목 유형 -->
					<div class="accordion-wrap">
						<dl class="accordion">
							<!-- 1. 제목 전체 토글 -->
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>1. 제목 전체 토글</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion">
							<!-- 2. 토글 버튼 따로 -->
							<dt class="accordion-header">
								<span class="toggle-tit">2. 토글 버튼 따로</span>
								<a href="javascript:void(0);" class="btn-toggle btn-act-orange" aria-expanded="false" aria-label="열기"></a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion field">
							<!-- 3. 체크박스 포함 제목 토글 -->
							<dt class="accordion-header dflex">
                                <label for="chk1-1" class="field-chkrdo">
                                    <input type="checkbox" name="chkGroup" id="chk1-1" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">동의</span>
                                </label>
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>3. 체크박스 포함 제목 토글</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion field">
							<!-- 4. 체크박스 토글 버튼 따로 -->
							<dt class="accordion-header dflex">
                                <label for="chk1-2" class="field-chkrdo">
                                    <input type="checkbox" name="chkGroup" id="chk1-2" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">동의</span>
                                </label>
								<span class="toggle-tit">4. 체크박스 토글 버튼 따로</span>
								<a href="javascript:void(0);" class="btn-toggle btn-act-orange" aria-expanded="false" aria-label="열기"></a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion field">
							<!-- 5. 제목 토글, 더보기버튼 -->
							<dt class="accordion-header dflex">
                                <label for="chk1-3" class="field-chkrdo">
                                    <input type="checkbox" name="chkGroup" id="chk1-3" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">동의</span>
                                </label>
                                
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-none" aria-expanded="false" aria-label="열기"><span>5. 제목 토글, 더보기버튼</span>
								</a>
								<a href="#페이지이동" class="btn-more" aria-label="더보기 이동"></a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 05 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 체크박스 - 동의 체크하면 닫힘, 전체동의</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 06 - 체크박스 - 동의 체크하면 닫히는 경우
						동의 체크하면 해당 accordion 닫히고 다음 accordion 열림(동의 체크 되어있을 경우 변화없음)
					-->
					<div class="accordion-wrap" data-type="toggleChk">
						<dl class="accordion field">
							<dt class="accordion-header dflex">
                                <label for="chk2-1" class="field-chkrdo">
                                    <input type="checkbox" name="chkGroup" id="chk2-1" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">동의</span>
                                </label>
								<a href="javascript:void(0);" class="toggle-tit btn-toggle _is-active" aria-expanded="false" aria-label="열기"><span>아코디언 제목(클릭시 토클)</span>
								</a>
								<!-- <a href="#페이지이동" class="btn-more" aria-label="더보기 이동"></a> -->
							</dt>
							<dd class="accordion-contents" style="display: block;">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
						<dl class="accordion field">
                            <dt class="accordion-header dflex">
                                <label for="chkAll" class="field-chkrdo">
                                    <input type="checkbox" name="exChk" id="chkAll" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">전체 동의</span>
                                </label>
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-none" aria-expanded="false" aria-label="열기"><span>아코디언 제목(클릭시 토클) + 링크이동</span>
								</a>
								<a href="#페이지이동" class="btn-more" aria-label="더보기 이동"></a>
							</dt>
							<dd class="accordion-contents">
								<div class="c-line">
                                    <label for="exChk1-1" class="field-chkrdo">
                                        <input type="checkbox" name="exChk" id="exChk1-1" class="chk">
                                        <i class="field-icon" aria-hidden="hidden"></i>
                                        <span class="field-label">동의할 내용안내</span>
                                    </label>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
								</div>
								<div class="c-line" style="margin-top: 20px;">
									<label for="exChk1-2" class="field-chkrdo">
                                        <input type="checkbox" name="exChk" id="exChk1-2" class="chk">
                                        <i class="field-icon" aria-hidden="hidden"></i>
                                        <span class="field-label">동의할 내용안내</span>
                                    </label>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
								</div>
								<div class="c-line" style="margin-top: 20px;">
									<label for="exChk1-3" class="field-chkrdo">
                                        <input type="checkbox" name="exChk" id="exChk1-3" class="chk">
                                        <i class="field-icon" aria-hidden="hidden"></i>
                                        <span class="field-label">동의할 내용안내</span>
                                    </label>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
									<p>아코디언 내용입니다</p>
								</div>
							</dd>
						</dl>
						<dl class="accordion field">
							<dt class="accordion-header dflex">
                                <label for="exChk2-1" class="field-chkrdo">
                                    <input type="checkbox" name="Chk2" id="exChk2-1" class="chk">
                                    <i class="field-icon" aria-hidden="hidden"></i>
                                    <span class="field-label">동의</span>
                                </label>
								<a href="javascript:void(0);" class="toggle-tit btn-toggle btn-none _is-active" aria-expanded="false" aria-label="열기"><span>아코디언 제목(클릭시 토클) + 링크이동</span>
								</a>
								<a href="#페이지이동" class="btn-more" aria-label="더보기 이동"></a>
							</dt>
							<dd class="accordion-contents">
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 06 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : 토글 안에 토글</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 07 - 토글 안에 토글 -->
					<div class="accordion-wrap" data-type="double">
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<div class="accordion-wrap" data-scroll="top">
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>[스크롤탑]아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>[스크롤탑]아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
								</div>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<div class="accordion-wrap">
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
								</div>
							</dd>
						</dl>
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<div class="accordion-wrap">
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
									<dl class="accordion">
										<dt class="accordion-header">
											<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>아코디언 제목입니다</span>
											</a>
										</dt>
										<dd class="accordion-contents">
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
											<p>아코디언 내용입니다</p>
										</dd>
									</dl>
								</div>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 07 -->
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>toggle : slideUP</h2>
                </div>

                <article class="pbg-component">
                    <!-- [S] 아코디언 08 - 슬라이드업 -->
					<div class="accordion-wrap" data-scroll="top">
						<dl class="accordion">
							<dt class="accordion-header">
								<a href="javascript:void(0);" class="toggle-tit btn-toggle" aria-expanded="false" aria-label="열기"><span>* 알려드립니다.</span>
								</a>
							</dt>
							<dd class="accordion-contents">
								<p>공지 1</p>
								<p>공지 2</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>공지 1</p>
								<p>공지 2</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>공지 1</p>
								<p>공지 2</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
								<p>아코디언 내용입니다</p>
							</dd>
						</dl>
					</div>
					<!-- [E] 아코디언 08 -->
                </article>
            </section>
        </div>
    </div>

</body>
<script src="../../assets/js/ui.component.js"></script>

</html>