@charset "utf-8";
@import '../../../assets/scss/mix.token';
@import '../../../assets/scss/primitive';
@import '../../../assets/scss/semantic';
@import '../../../assets/scss/mixin';
@import '../../../assets/scss/reset';
@import 'font';
@import 'pg.variables';
#pg{
    &-wrap {
        margin:0;
    }
    &-headerWrap {
        @include bg-gradient(line, 180deg, #191B2A, #302CA4);
        width:100%;
        padding:2rem 1rem 0;
        // @include pos(fixed);
        // @include pos-offset-l(0,0);
    }
}

.wg {
    &-hgroup {
        padding:2.5rem 2rem 2rem;
        .wgTit01 {
            font-size:var(--space-mx);
            @include el-content(before, inline-block) {
                content:'\f550';
                font-family:'iconFont'; color:#302CA4; font-size:var(--space-ms);
                margin-right:0.5rem; vertical-align:middle;
            }
        }
    }
    &-fxWrap {
        @include dflex;
        & ~ & {margin-top:4rem;}
    }
    &-rowWrap {
        & > .wg {
            &-fx {
                flex:1; max-width:50%; justify-content: space-between;
                // & ~ .wg-fx {margin-top:4rem;}
            }
            &-colWrap {max-width:50%;}
        }
    }
    
    &-colWrap {
        flex-direction: column;
        &-fx {
            & ~ .wg-fx {margin-top:4rem;}
        }
    }
    
    &-contBoxWrap {@include dflex; padding:0 2rem;}
    &-contBody {
        width:100%;
        background:$color-white; color:$color-gray1; border:1px solid $color-white; box-shadow: 0 0 13px 0 rgba(82,63,105,.1);

        & > dt {
            padding:2rem; font-size:1.5rem;
            & + dd {border-top:1px solid #ebedf2;}
        }
        & > dd {
            padding:2rem;
            & + dd {padding-top:0;}
        }
    }
    &-TxtTit {
        display:inline-block;
        padding:0.5rem 1rem; margin-bottom:0.5rem;
        background:#E8E9FB; color:#4d5cf2; border-radius:0.5rem;
    }
    &-lstBody {padding:0.5rem;}
    &-example {
        margin-top:1rem;
        & + .wg-TxtTit {margin-top:2rem;}
    }
    &-lst-bar {
        & > li, .wg-ico {text-indent:-0.5rem; margin-left:0.5rem;}
        & > li {
            @include el-content(before) {
                display:inline-block;
                content:'-'; margin-right:0.5rem;
            }
            & ~ li {margin-top:0.5rem;}
        }
    }
    &-ico {
        @include el-content(before, inline-block) {
            font-family:'iconFont';
            content:'-'; margin-right:0.5rem;
        }
        &.wg-ico {
            &-bar {
                @include el-content(before, inline-block) {
                    content:'-';
                }
            }
            &-info {
                @include el-content(before, inline-block) {
                    content:'\f22d'; color:#FD397A;
                }
            }
            &-star {
                @include el-content(before, inline-block) {
                    content:'*'; color:#BE4BDB;
                }
            }
        }
    }

    &-splitWrap {
        @include dflex($wrap:wrap);
        &.col2 {
            & > li {
                display:inline-block;
                flex-direction: column; width:48%; padding:0 0.5rem 0.5rem;
                &:nth-child(even) {margin-left:1%;}
                &.wg-split-none {flex-direction:row; display:block; width:100%; margin:0;}
            }
            &.wg-lst-bar > li ~ li {margin-top:0;}
            & > .colSec {
                display:inline-block;
                flex-direction: column;
                width:49%; padding:0 0.5rem 0.5rem;

                &:nth-child(even) {margin-left:2%;}
                &.col-full {width:100%;}
            }
            
        }

        .col-full {float:none; clear:both;}
    }
}